Repository keepid/keepid_client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crchong1, @nrod80, @joeyszhao, @MelindaCardenas, @leonardtang, @danielsjoo, @loafyyy, @gkang2018

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Learn about code owners here:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @crchong1 and @nrod80 will be requested for
# review when someone opens a pull request.
*       @crchong1 @nrod80

# Team Keep
/src/components/AboutUs/ @joeyszhao

# Base Components
/src/components/BaseComponents/ @MelindaCardenas

# Shared Flows
/src/components/AccountSettings/ @nrod80 @leonardtang
/src/components/Documents/ @nrod80 @leonardtang
/src/components/LandingPages/ @nrod80 @leonardtang
/src/components/SignUp/ @nrod80 @leonardtang
/src/components/UserAuthentication/ @nrod80 @leonardtang

# Client Facing
/src/components/Applications/ @danielsjoo @loafyyy
/src/components/LandingPages/ClientLanding.tsx @danielsjoo @loafyyy
/src/components/OrgFinder/ @danielsjoo @loafyyy

# Non-Profit Facing
/src/components/AccountSettings/MyOrganization.tsx @gkang2018
/src/components/LandingPages/AdminDashboard.tsx @gkang2018
/src/components/LandingPages/WorkerLanding.tsx @gkang2018
/src/components/SignUp/CompleteSignupFlow.tsx @gkang2018
/src/components/SignUp/pages/OrganizationInformation.tsx @gkang2018
/src/components/SignUp/pages/ReviewSubmit.tsx @gkang2018

add axios to package json
  package-lock.json
Owners: @crchong1, @nrod80

removed unused imports
  src/components/AccountSettings/MyAccount.tsx
Owners: @nrod80, @leonardtang

removed response json at 408
  src/components/Applications/ApplicationForm.tsx
Owners: @danielsjoo, @loafyyy

removed event:any from function inputs
  src/components/BaseComponents/Table/TablePageSelector.tsx
Owners: @MelindaCardenas

added a linterrors.txt
  linterrors.txt
Owners: @crchong1, @nrod80

added personal concerns to linterrors.txt
  linterrors.txt
Owners: @crchong1, @nrod80

chore(home): add react-intl
  package-lock.json
  package.json
  src/components/Home.tsx
  src/components/Home/Benefits.tsx
  src/components/Home/ClientJourneys.tsx
  src/components/Home/CoreValues.tsx
  src/components/Home/HomelessStats.tsx
  src/components/Home/HowItWorks.tsx
  src/components/Home/StatementOfSolidarity.tsx
  src/components/Home/index.tsx
  src/components/statement.tsx
  src/index.jsx
  src/tests/App.test.tsx
  src/tests/components/Base/Home.test.tsx
  src/tests/components/Base/__snapshots__/Home.test.tsx.snap
Owners: @crchong1, @nrod80

fix: pom.xml to reduce vulnerabilities
  pom.xml
Owners: @crchong1, @nrod80

created folders for stripe-billing pages and env vars
  .gitignore
  src/components/Billing/Confirmation.tsx
  src/components/Billing/Subscribe.tsx
Owners: @crchong1, @nrod80

added billing mvp and updated app to support stripe promises
  package-lock.json
  package.json
  src/App.tsx
  src/components/Billing/Subscribe.tsx
Owners: @crchong1, @nrod80

test
  .eslintrc.json
  package-lock.json
  package.json
  src/components/Billing/Subscribe.tsx
  src/components/LandingPages/DeveloperLanding.tsx
Owners: @crchong1, @nrod80, @leonardtang

Update package.json
  package.json
Owners: @crchong1, @nrod80

Added GET
  src/main/Config/AppConfig.java
  src/main/User/UserControllerV2.java
  src/main/User/V2/BaseUser.java
  src/main/User/V2/BasicInfo.java
Owners: @crchong1, @nrod80

Working on adding code for confirmationPage
  src/App.tsx
  src/components/Billing/Confirmation.tsx
  src/components/Billing/Main.tsx
  src/components/Billing/PaymentConfirmation.tsx
  src/components/Billing/Subscribe.tsx
Owners: @crchong1, @nrod80

bug fix to change password
  src/main/Security/Services/ChangePasswordService.java
Owners: @crchong1, @nrod80
